*,
*::before,
*::after {
  box-sizing: border-box;
}


.body {
    background-color: rgb(18, 19, 20);
    margin: 0;
}
.header{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
}

.font{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}

.font_red{
    color:rgba(255, 0, 0, 0.781);
}

.h1{
    text-align: center;
    font-size: 36px;
    margin-right: 25vw;

}
.div11{
    display: flex;
    justify-content: flex-end;
 
}

.header_breadcrumb {
    padding: 10px 16px;
    display: flex;
    font-size: 12px;
    justify-content: center;
    gap: 16px;
    list-style: none;
}

.header_breadcrumb li {
    display: inline;
    text-decoration: none; 
}

.header_breadcrumb li+li::before {
    padding: 8px;
    content: "/";
}

.header_breadcrumb a {
    text-decoration: none;
    color: azure; 
}

.header_search{
    font-size: 14px;
    color: white;
    outline: 0;
    border: 0;
    border-bottom: 2px solid white;
    padding: 0;
    text-align: left;
    background-color: transparent;

}

.header_search::placeholder {
    color: azure;
}

.icon::before {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.div_search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.div_icons{
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 15px;
    

    
}
.icon2{
    font-size: 1.5em;
    
}
.icon3{
    font-size: 1.5em;
}

.glass::before {
    content: "\f002";
    font: var(--fa-font-solid);
}

.cart::after {
    content: "\f07a";
    font: var(--fa-font-solid);
    margin-left: 20px;
    font-size: medium;
}


.nav0 {
    position: fixed;
    top: 40px;
    left: 20px;
}
.nav1{
    list-style-type: none;
    padding: 0px;
}

.nav1 li+li::before{
    padding: 8px;
    content: "|";
}

.nav1_li{
    display: inline;    
}

.nav1 > *:hover {
    color: blue;
    font-size: 18px;
    font-weight: bolder;
}

.nav2{
    list-style-type: none;
    padding: 0px;
}

.nav2 > * {
    font-size: 12px;
    transition: padding 2s;
}

.nav2 > *:hover {
    color: blue;
    font-size: 14px;
    padding: 5px;
    font-weight: bolder;
}

.nav2_li{
    display: inline;    
}


.container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 10vh;
    margin-bottom: 30px;

}

.container > * {
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; 
}

li, p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.imga{
    width: 300px;
}



.suscribete{
    text-align: center;
}

.email_input{
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
    padding: 7px 0;
    background: transparent;
    text-align: center;
}

.label{
    color: transparent;
    font-size: 5px;
}


.email_input::placeholder {
    color: white;
  }

.suscribete{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    background-color: palevioletred;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}

.suscribete form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.contacto p{
    font-size: 20px;
    padding: 15px;
}

.contacto li{
    display: inline;
    list-style: none;
    font-size: 12px;
    padding: 20px;
    margin: 10px;
}

.footer_container{
    display: flex;
    font-size: 10px;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;

}
.footer_container p {
    font-size: 14px;
    padding-bottom: 20px;
}
.footer_container li {
    list-style: none;
}
